---
import ContentSearch from "@/components/content-search";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

// Get all blog posts
const blogPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

// Total count for "View all" button
const totalBlogPosts = blogPosts.length;
const category = Astro.url.searchParams.get("category") || "";
---

<BaseLayout
  title="Blog"
  description="Thoughts, ideas, and learnings about development, music, and more"
>
  <main class="mx-auto w-full max-w-2xl pt-6">
    <p>YOU SEARCHED FOR {category}</p>
    <ContentSearch client:load collection={blogPosts} collectionType="blog" />

    {
      totalBlogPosts > 5 && (
        <div class="mt-8 text-center">
          <a
            href="/blog/all"
            class="bg-foreground text-background inline-block rounded-lg px-4 py-2 transition-opacity hover:opacity-90"
          >
            View all posts
          </a>
        </div>
      )
    }
  </main>
</BaseLayout>
