---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="About" description="Some things about me">
<main class="flex flex-col items-center max-w-2xl mx-auto p-6">
  <div class="mt-10 space-y-10">
    <h1 class="">About Me</h1>
    <p>Hey I'm Luke 👋. I'm love to build. As a developer I specialize in Javascript (Typescript), React (Next.js, Astro) and PostgreSQL. Right now I'm building <a href="http://langueflow.com" target="_blank" referrerpolicy="no-referrer" class="fancy-link">LangueFlow</a>, a distraction-free language learning app based on the principles of the <a href="https://en.wikipedia.org/wiki/Natural_approach" target="_blank" referrerpolicy="no-referrer" class="fancy-link">Natural Approach.</a></p>

    <p>I also love to <a href="http://lukeroes.com" target="_blank" referrerpolicy="no-referrer" class="fancy-link">make music</a>, <a href="/recipes/sourdough" target="_blank" referrerpolicy="no-referrer" class="fancy-link">bake bread</a> and run. I like to take on new challenges so feel free to <a href="/contact" target="_blank" referrerpolicy="no-referrer" class="fancy-link">get in touch</a> if you're interested in working together.</p>
  </div>
</main>
</BaseLayout>


