---
interface Props {
  size?: number;
}
const { size = 16 } = Astro.props;
---

<span
  class="bg-accent inline-block rounded-[3px] align-middle"
  style={`width: ${size}px; height: ${size}px;`}
></span>
